body {
    font-family: 'Arial',sans-serif;
    background-image: url("fondo.png");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 20px;
    /* height: 100vh; */
}
.certificate {
    width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box; /* Incluir relleno en el ancho total */
}
.certificate-bodyname {
    text-align: center;
    font-family: 'Arial';

}
.certificate-header h1 {
    font-size: 40px;
    color: #333;
    margin: 4px 0;
}
h1 {
    text-align: center;
    color: #0b0479;
    font-family:'Young';
    font-size: 45px;
}
p {
    text-align: center;
    margin: 2px 0;
    /* font-size: 30px; */
}
.signature {
    margin-top: 100px;
    text-align: center;
}
.signature-der {
    margin-top: 100px;
    text-align: right;
}
.signature-izq {
    margin-top: 100px;
    text-align: left;
}
.signature img {
    width: 150px;
}
.logo {
    text-align: center;
    margin-bottom: 10px;
}
.logo img {
    width: 10%;
}
.signatures {
    display: flex;
    justify-content: space-evenly; /* Esto separa las firmas a los lados opuestos */
    margin-top: 2px;
    align-items: center;
    
}
.signature-left,
.signature-right {
    text-align: center; /* Alinea el contenido al centro dentro de cada firma */
    flex-basis: 45%; /* Ajusta el ancho de cada firma según necesites */
}

.signature-left img,
.signature-right img {
    max-width: 100px; /* Ajusta el tamaño máximo de las imágenes de firma */
    height: auto;
    margin-top: 10px; /* Espacio opcional encima de las imágenes */
}
.signature-line {
    border: none;
    border-top: 2px solid black; /* Estilo de la línea: sólida de 2px de grosor y negro */
    width: 100%; /* Ancho completo para que cubra el espacio entre las firmas */
    margin: 0;
}
.certi {
    width: 20%;
    text-align: center; /* Alineación centrada del contenido dentro del div */
    margin-top: 20px; /* Espacio superior entre la imagen y el texto */
    position: relative; /* Posición relativa para permitir posicionamiento absoluto dentro */

}
.certi img {
    text-align: center;
    width: 150px; /* Ancho de la imagen de firma */
    margin-top: 10px; /* Espacio superior */
    display: block; /* Asegura que la imagen se centre correctamente */
    display: block; /* Asegura que la imagen se centre correctamente */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
    max-width: 50%; /* Ajusta la imagen al ancho máximo posible del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
.signature p {
    margin-top: 0; /* Eliminar el espacio superior del texto "Firma" */
    text-align: center;
}
.move-right {
    margin-left: 5px; /* Ajusta el margen izquierdo para mover el texto hacia la derecha */
}