body {
    font-family: Arial, sans-serif;
    background-image: url("imag-certi.png");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}
.certificate {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #0b0479;
}
p {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}
.signature {
    margin-top: 100px;
    text-align: center;
}
.signature-der {
    margin-top: 100px;
    text-align: right;
}
.signature img {
    width: 150px;
}
.logo {
    text-align: center;
    margin-bottom: 10px;
}
.logo img {
    width: 150px;
}