body {
    font-family: Arial, sans-serif;
    background-image: url("imag-certi.png");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}
.certificate {
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 50px;
}
h1 {
    text-align: center;
    color: #0b0479;
}
p {
    text-align: center;
    margin: 70px 0;
}
.signature {
    margin-top: 100px;
    text-align: center;
}
.signature-der {
    margin-top: 100px;
    text-align: right;
}
.signature img {
    width: 150px;
}
.logo {
    text-align: center;
    margin-bottom: 10px;
}
.logo img {
    width: 150px;
    background-image: url("https://github.com/laurikat19/template-certi/blob/induccion/CHM_Mineria-Logo.png?raw=true");
}